<div class="row">
  <div class="col">
    <form class="mt-3" [formGroup]="createForm">
      <div class="form-group">
        <md-input-container class="input">
          <input mdInput placeholder="Your email" type="email" formControlName="email">
        </md-input-container>
        <p style="color: red; font-size: .9rem" *ngIf="formErrors.email" class="error">
          {{ formErrors.email }}
        </p>
      </div>
      <div class="form-group">
        <md-input-container class="input">
          <input mdInput placeholder="Name" type="text" formControlName="name">
        </md-input-container>
        <p style="color: red; font-size: .9rem" *ngIf="formErrors.name" class="error">
          {{ formErrors.name }}
        </p>
      </div>
      <div class="form-group">
        <md-input-container class="input">
          <textarea mdInput placeholder="Dataset JSON" formControlName="dataset" rows="20"></textarea>
        </md-input-container>
        <p style="color: red; font-size: .9rem" *ngIf="formErrors.dataset" class="error">
          {{ formErrors.dataset }}
        </p>
      </div>
      <div class="row">
        <button md-button (click)="save()" [disabled]="!createForm.valid">Save</button>
      </div>
    </form>
  </div>
</div>
