<div class="row">
  <div class="col">
    <div class="text-center" *ngIf="!isDatasetAvailable">
      <input type="file" accept="text/csv" (change)="onFileInputChange($event)"
             style="opacity: 0; position: absolute; left:-100px" #fileInput>
      <button md-raised-button color="accent" (click)="onUploadButtonClick()">Upload dataset</button>
    </div>
    <form class="mt-3" [formGroup]="createForm" *ngIf="isDatasetAvailable">
      <div class="form-group">
        <md-input-container class="input">
          <input mdInput placeholder="Your email" type="email" formControlName="email">
        </md-input-container>
        <p style="color: red; font-size: .9rem" *ngIf="formErrors.email" class="error">
          {{ formErrors.email }}
        </p>
      </div>
      <div class="form-group">
        <md-input-container class="input">
          <input mdInput placeholder="Name" type="text" formControlName="name">
        </md-input-container>
        <p style="color: red; font-size: .9rem" *ngIf="formErrors.name" class="error">
          {{ formErrors.name }}
        </p>
      </div>
      <div class="row">
        <button md-button (click)="save()" [disabled]="!createForm.valid">Save</button>
      </div>
    </form>
  </div>
</div>
